#plate{
    font-size: 36px;
}

button{
    font-size: 20px;
    border-radius: 0;

    border-width: 2px;
    border-style: solid;
    
    padding-left: 5vw;
    padding-right: 5vw;

    padding-top: 5vh;
    padding-bottom: 5vh;

    margin: 5px;
    border-color: grey;
}

#score{
    position: fixed;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    top: 0;
} 

#about{
    position: fixed;
    padding: 10px;
    font-size: 20px;
    top: 0;
    right: 0;
    left: auto;
    z-index: 20;
}

#aboutContent{
    position: fixed;


    left: 10vw;
    right: 10vw;
    border-radius: 5px;
    padding: 5px;

    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: grey;

    opacity: 1;
    transform: translate(0, 0);

    transition: transform .2s, all .2s;
}
#aboutContent.hiddenAbout{
    opacity: 0;
    transform: translate(0, -50px);
    visibility: hidden;
}

body{
    margin: 0;
}

#outer{
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content{
    position: relative;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}