#plate{
    font-size: 36px;
}

button{
    font-size: 20px;
    border-radius: 0;

    border-width: 2px;
    border-style: solid;
    
    padding-left: 5vw;
    padding-right: 5vw;

    padding-top: 5vh;
    padding-bottom: 5vh;

    margin: 5px;
    border-color: grey;
}

#score{
    position: fixed;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    top: 0;
    bottom: 0;
} 

body{
    margin: 0;
}

#outer{
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content{
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}